body {
  font-family: sans-serif;
  background: #eef1f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background: #e0e0e0;
  padding: 22px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-left: -10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #9b9b9b;
}
